*{
  margin: 0;
  padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&display=swap');

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.main-container{
  margin-top: 50px;
  padding: 20px 30px;
  border: 1px solid rgb(15, 13, 36);
  border-radius: 4px;
  min-width: 35%;
  max-width: 35%;
}
.main-hdr{
  color: rgb(15, 13, 36);
}
.btn{
  font-weight: 500;
  color: #fff;
  outline: none;
  background: rgb(15, 13, 36);
  padding: 10px 15px;
  border-radius: 6px;
  font-size: 1.125rem;
  cursor: pointer;
}
.tasks-container{
    margin-top: 10px;
    /* padding: 10px; */
    border-radius: 4px;
    line-height: 28px;
  }
  .task-name{
    color:rgb(15, 13, 36);
    font-size: 1.1rem;
    text-transform: capitalize;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .task-day{
    font-size: .9rem;
    color: #464646;
    font-weight: normal;
  }
  .task-block{
  background: #f6f6f6;
  padding: 10px;
  margin: 15px 0;
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
}
.reminder{
  border-left: 5px solid green;
}